$font-family-bold: 'Lucida Sans Bold',
'Lucida Sans Regular',
sans-serif;
$font-family: 'Lucida Sans',
'Lucida Sans Regular',
sans-serif;
$core-color-background: #ffffff;
$core-color-foreground: #000000;
$core-color-brand: #006070;
$core-color-secondary: #004f70;
$max-width: 1080px;
$core-grid-unit: 10px;
$core-margin: 10px;
$core-padding: 10px;

@mixin articles-heading() {
    font-size: 42px;
    font-family: $font-family-bold;
    text-align: center;
    line-height: 1;
    color: $core-color-background;
    text-transform: uppercase;
}

@mixin articles-subheading() {
    font-size: 22px;
    font-family: $font-family;
    text-align: center;
    line-height: 1;
    color: $core-color-background;
    text-transform: uppercase;
}

@mixin heading() {
    font-size: 32px;
    font-family: $font-family;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    color: $core-color-foreground;
}

@mixin text-headline() {
    font-size: 22px;
    font-family: $font-family;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    color: $core-color-foreground;
}

@mixin subtext() {
    font-size: 18px;
    font-family: $font-family;
    text-align: center;
    line-height: 1;
    color: $core-color-foreground;
}

@mixin footer-subtext() {
    font-size: 16px;
    font-family: $font-family;
    text-align: center;
    line-height: 1;
    color: $core-color-foreground;
}

* {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.body-container {
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    position: fixed;
    width: 100%;
    height: ($core-grid-unit * 6);
    background: $core-color-brand;
    z-index: 5;
}

.contact-icon,
.location-icon {
    width: ($core-grid-unit * 2.8);
    height: ($core-grid-unit * 2.8);
    position: relative;
    float: right;
    fill: $core-color-background;
    margin: ($core-margin * 2) $core-margin;
    cursor: pointer;
}

.svg-icon {
    display: inline-block;
    float: right;
}

.logo-svg {
    display: inline-block;
    float: left;
}

.logo-icon {
    fill: $core-color-background;
    margin-left: 15px;
}

.menu-icon {
    display: none;
}

.slide-menu .menu li {
    width: 100%;
}

.slide-menu {
    width: auto;
    height: ($core-grid-unit * 6);
}

.menu {
    list-style: none;
}

.menu ul {
    display: flex;
    display: -webkit-flex;
    justify-content: space-evenly;

    li {
        display: flex;
        justify-content: space-evenly;
    }
}

.menu a {
    display: block;
    color: $core-color-background;
    padding: ($core-padding * 3) 0px ($core-padding * 1.5) ($core-padding * 3);
    text-decoration: none;
}

.menu .icon-link {
    padding: 0;
    background-color: transparent;
    border: 0;
}

#article-body {
    position: relative;
    width: 100%;
    height: auto;
    line-height: 0;

    .article-background-image {
        width: inherit;
        margin-top: ($core-margin * 6);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.overlay-mask {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
    width: 100%;
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: calc(100% - 60px);
    margin: 0 auto;
    z-index: 2;
    opacity: 0.8;
    margin-top: 60px;
    background-color: rgb(25, 37, 51);
}

.article-text-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    margin-left: auto;
    margin-right: auto;
    width: ($core-grid-unit * 33);
    z-index: 3;
}

.article-text {
    position: relative;
    @include articles-heading();
}

.article-subtext {
    position: relative;
    @include articles-subheading();
}

.about-us {
    position: relative;
    background-color: $core-color-background;
    padding: ($core-padding * 4) 0px;
}

.about-us-text {
    @include heading();
    margin-top: ($core-margin * 2);
    margin-bottom: ($core-margin * 2);
}

.about-us-subtext {
    @include subtext();
    margin-left: ($core-margin * 2);
    margin-right: ($core-margin * 2);
}

#details-container {
    position: relative;
    background-color: #ebe6d9;
    padding: ($core-padding * 4) 0px;
    display: flex;
    justify-content: space-evenly;

    h4 {
        @include text-headline();
        margin-left: auto;
        margin-right: auto;
        margin-top: ($core-margin * 1.5);
        margin-bottom: ($core-margin * 1.5);
    }

    .phone-number,
    .location-address,
    .email-address {
        @include subtext();
        margin-left: auto;
        margin-right: auto;
    }
}

.details-contact-icon,
.details-location-icon,
.details-email-icon {
    fill: $core-color-foreground;
    width: ($core-grid-unit * 4);
    height: ($core-grid-unit * 4);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#location-heading {
    @include heading();
    margin-left: auto;
    margin-right: auto;
    margin-top: ($core-margin * 8.5);
    margin-bottom: ($core-margin * 4.5);
}

.location-container {
    position: relative;
    width: 100%;
    height: ($core-grid-unit * 50);
}

#social-share-container {
    width: 100%;
    margin-bottom: ($core-margin * 6);
}

.social-share {
    display: flex;
    justify-content: space-evenly;
}

#media-heading {
    @include heading();
    margin-left: auto;
    margin-right: auto;
    margin-top: ($core-margin * 4);
    margin-bottom: ($core-margin * 4);
}

.social {
    width: ($core-grid-unit * 4);
    height: ($core-grid-unit * 4);
    display: inline-block;
    cursor: pointer;
}

.social-share-heading {
    @include text-headline();
    margin-left: auto;
    margin-right: auto;
    margin-top: ($core-margin * 4);
    margin-bottom: ($core-margin * 4);
}

.footer-container {
    width: 100%;
    padding: ($core-padding * 2) 0;
    background-color: $core-color-brand;
    display: flex;
    justify-content: space-between;

    .copyrights {
        @include footer-subtext();
        color: $core-color-background;
        margin-left: $core-margin;
        text-align: left;
        width: 80%;
    }

    .footer-contact-us {
        @include footer-subtext();
        margin-right: $core-margin;
        text-align: right;
        width: 18%;
    }
}

.footer-contact-us a {
    color: $core-color-background;
    text-decoration: none;
}

#media-heading:focus,
#details-container:focus,
#about-us:focus,
#location-heading:focus,
#social-share-container:focus {
    outline: none;
}

@media only screen and (max-width: 510px) {
    .slide-menu {
        transform: translate3d(-($core-grid-unit * 28), 0, 0);
        width: ($core-grid-unit * 28);
        height: 100vh;
    }

    .slide-menu.open {
        transform: translate3d(0, 0, 0);
        transition: 0.5s ease-in;
        background-color: $core-color-secondary;
    }

    .logo-svg {
        float: none;
    }

    .menu-icon {
        display: inline-block;
    }

    .menu ul {
        display: block;
    }

    .menu ul li {
        display: block;
    }

    #details-container {
        display: block;
    }

    .phone-details,
    .location-details,
    .email-details {
        margin-top: ($core-margin * 2);
        margin-bottom: ($core-margin * 2);
    }

    .footer-container {
        display: block;
    }

    .footer-container .copyrights {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .footer-container .footer-contact-us {
        width: 100%;
        text-align: center;
        margin-top: ($core-margin * 2);
    }
}